@page "/"
@inject IVersionProvider VersionProvider


<Table Striped>
  <TableHeader>
    <TableRow>
      <TableHeaderCell>Autor</TableHeaderCell>
      <TableHeaderCell>Tytuł</TableHeaderCell>
      <TableHeaderCell>Liczba stron</TableHeaderCell>
      <TableHeaderCell>Czy wypożyczony</TableHeaderCell>
      <TableHeaderCell>Imie wypożycz.</TableHeaderCell>
      <TableHeaderCell>Nazwisko wypożycz.</TableHeaderCell>
    </TableRow>
  </TableHeader>
  <TableBody>
    <Repeater Items="books">
      <TableRow>
        <TableRowCell>@context.Author</TableRowCell>
        <TableRowCell>@context.Title</TableRowCell>
        <TableRowCell>@context.PageCount</TableRowCell>
        <TableRowCell>@(context.IsBorrowed ? "Tak" : "Nie")</TableRowCell>
        <TableRowCell>@context.Borrower?.FirstName</TableRowCell>
            <TableRowCell>@context.Borrower?.LastName</TableRowCell>
      </TableRow>
    </Repeater>
  </TableBody>
</Table>
